<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="economy.reverse.repurchase.agreement.dao.UsdcnyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="economy.reverse.repurchase.agreement.model.Usdcny">
        <id column="id" property="id" />
        <result column="exchange_rate" property="exchangeRate" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, exchange_rate, create_date
    </sql>

</mapper>
